:root{
  scroll-behavior: smooth;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #005907;
  box-sizing: border-box;
  margin: 25px;;
  padding: 25px;
}
h1{
  background-color: #001f05;
}

#logo{
  background-color: #001f05;
  
}

div h1{
  color: rgb(163, 103, 13);
  background-color: #001f05;
  
}

h1{
  text-align: center;
  font-size: 30px;
}
p{
  text-align: center;
  font-size: 20px;
}

main, section{
  background-color: #001f05;
  color:rgb(163, 103, 13); /*cor da fonte*/
}

ul{
  list-style-type: nome;
  text-align: center;
  margin: 0;
  padding: 0;
}

#logo {
  max-width: 100%;
  height: auto;
}

header img {
  max-width: 100%;
  height: auto;
}

a:link, a:visited{
  display: inline-block;
  color:rgb(163, 103, 13);
  text-decoration: none;
  font-weight: bold;    
}

nav div{
  margin: 15px;
  transition: 850ms;
  width: 95px;    
}

@media screen and (max-width: 768px) {
  nav {
      flex-direction: column;
  }

  nav div {
      margin: 15px 0;
      width: 100%;
      padding: 10px;
  }
}


nav{
  text-align: center;
  background-color:#001f05 ;
  display: flex;
  justify-content: center;
  align-items: center;
}


header{
  background-color: #abf5b0;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin:auto;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  line-height: 2em;
}

header, section, nav{
  border-bottom: 1px solid #CCC;
  padding: 10px 50px;
}

section{
  min-height: 50vh;
}

header{
  text-align: center;
}

table{
  width: 100%;
}


tr:nth-child(4){
  display: none;
}



td:last-child:not(tr:first-child td):before{
  content: "R$ ";
}

nav > div:hover{
  background-color: #00590c;
  padding-left: 85px;
  padding-right: 95px;
  transition: 850ms;
  width: 95px;
}

tr:not(tr:first-child):hover{
 background-color: var(--cores-vinho);
}

/* #590002 */

address p:first-child:before{
  content: "Rua: ";
}

address p:nth-child(2)::before{
  content: "Bairro: ";
}

address p:last-child:after{
  content: ", Santa Catarina.";
}

:root{
  --cores-vinho: #00590f;
}
